@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  @apply bg-gray-50 text-gray-800 font-sans;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}
